/*******************************************************************************

	CSS on Sails Framework
	Title: Compete - DCMOS
	Author: XHTMLized (http://www.xhtmlized.com/)
	Date: January 2011

********************************************************************************

	1. BASE
		1.1 Reset
		1.2 Accessibility Navigation & Hide
		1.3 Clearfix
		1.4 Default Styles

	2. COMMON
		2.1 Container
		2.2 Header
		2.3 Navigation
		2.4 Content
		2.5 Sidebar
		2.6 Footer

	3. PAGES

*******************************************************************************/


/* 1. BASE
--------------------------------------------------------------------------------
==============================================================================*/


/* 1.1 Reset
------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 1.2 Accessibility Navigation & Hide
------------------------------------------------------------------------------*/

#accessibility-nav, 
.hide,
.skip {
	position: absolute;
	top: -999em;
	left: -999em;
	height: 1px;
	width: 1px;
}


/* 1.3 Clearfix
------------------------------------------------------------------------------*/

#header:after,
#content:after,
footer:after,
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


/* 1.4 Default Styles
------------------------------------------------------------------------------*/

body {
	background: #000;
	color: #fff;
	font: 75%/1.7 Arial, Helvetica, sans-serif;
}

hr {
	display: none;
}

strong {
	font-weight: bold;
	text-transform: uppercase;
	color: #87c440;
}

em {
	color: #87c440;
}
.page-id-11 em {
	color: inherit;
	font-style: italic;
}

del {
	text-decoration: line-through;
}

th, td {
	vertical-align: top;
}

th {
	font-weight: normal;
	text-align: left;
}

address, cite, dfn {
	font-style: normal;
}

abbr, acronym {
	border-bottom: 1px dotted #999;
	cursor: help;
}

input, textarea, select {
	font-family: Arial, Helvetica, sans-serif;
}

a, a:visited {
	color: #00a8ff;
	text-decoration: underline;
}

a:hover, a:active {
	color: #00a8ff;
}


/* 1.4 Default Styles
------------------------------------------------------------------------------*/
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 29, 2011 10:51:23 AM America/New_York */
@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('../fonts/League_Gothic-webfont.eot');
	src: local('☺'), url('../fonts/League_Gothic-webfont.woff') format('woff'), url('../fonts/League_Gothic-webfont.ttf') format('truetype'), url('../fonts/League_Gothic-webfont.svg#webfont1Lb5Pdit') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* 2. COMMON
--------------------------------------------------------------------------------
==============================================================================*/


/* 2.1 Container
------------------------------------------------------------------------------*/

.container {
	width: 975px;
	position: relative;
	margin: 0 auto;
	background: #242424 url(../images/common/bg-container.png) repeat-x;
}
.highlight {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	
}
.highlight div {
	width: 977px;
	height: 589px;
	margin: 264px auto 0;
	background: url(../images/common/bg-container-highlight.png) repeat-x;
}


/* 2.2 Header
------------------------------------------------------------------------------*/

#header {
	padding: 0 0 85px;
	background: #000 url(../images/common/bg-header.png) left bottom repeat-x;
}
.page-id-4 #header {
	padding-left: 30px;
}

h1 {
	float: left;
	padding: 38px 0 0 0;
	font-family: 'LeagueGothicRegular', Impact, Charcoal, sans-serif;
}

.logo,
.logo span {
	display: block;
	overflow: hidden;
}

.logo {
	position: relative;
}

.logo span {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

a.logo span {
	cursor: pointer;
}

.logo-compete {
		float: left;
}

.logo-compete,
.logo-compete span {
	width: 122px;
	height: 22px;
	font-size: 1.4em;
}

.logo-compete span {
	background: url(../images/common/logo-compete.png) no-repeat;
}


#header .divider {
	float: left;
	padding: 0 10px;
}

#header .logo-summit,
#header .logo-summit span {
	width: 169px;
	height: 35px;
	font-size: 2em;
}

#header .logo-summit {
	float: left;
	margin: -9px 0 0 0;
}

#header .logo-summit span {
	background: url(../images/common/logo-summit.png) no-repeat;
}

/* 2.3 Navigation
------------------------------------------------------------------------------*/

#navigation {
	float: right;
}

#navigation li {
	display: block;
	float: left;
	height: 67px;
	padding: 0 0 0 19px;
	background: url(../images/common/bullet-menu.png) 6px 48px no-repeat;
}

#navigation li:first-child {
	padding: 0;
}

#navigation a,
#navigation a:visited {
	display: block;
	padding: 41px 8px 9px;
	font: 1.3em/16px 'LeagueGothicRegular', Impact, Charcoal, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
}

#navigation a:active,
#navigation a:hover,
#navigation .current-menu-item a,
#navigation .current-menu-item a:visited,
#navigation .current-post-ancestor a,
#navigation .current-post-ancestor a:visited {
	color: #666;
}

#navigation li:first-child {
	background: transparent;
}

#navigation li#menu-item-19 a,
#navigation li#menu-item-19 a:visited {
	background: #00a8ff url(../images/common/bg-menu-important.png) 0 0 repeat-x;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

#navigation li#menu-item-19 a:active,
#navigation li#menu-item-19 a:hover,
#navigation li#menu-item-19.current-menu-item a,
#navigation li#menu-item-19.current-menu-item a:visited {
	background-position: 0 -66px;
	background-color: #666;
	color: #999;
}

/* 2.4 Content
------------------------------------------------------------------------------*/

#content {
	padding: 45px 15px 30px 50px;
}

.wide-sidebar section {
	margin-right: 515px;
}

.middle-sidebar section {
	margin-right: 425px;
}

.narrow-sidebar section {
	margin-right: 315px;
}

/* Text styles */

h2 {
	margin-bottom: 35px;
	font: 2em 'LeagueGothicRegular', Impact, Charcoal, sans-serif;
	letter-spacing: 0.1em;
}

h3 {
	margin-bottom: 20px;
	font-size: 1.2em;
	font-weight: bold;
	color: #ffcd05;
}

h4 {
	font-weight: bold;
	color: #ffcd05;
}

h5 {
	text-transform: uppercase;
}

ul,
p {
	margin-bottom: 20px;
}

.participants {
	line-height: 2em;
}

.bulleted li {
	padding: 0 0 0 10px;
	background: url(../images/common/bullet-normal.png) 0 8px no-repeat;
}

ul.agenda {
	margin-top: 5px;
}

.agenda p {
	margin: 0;
	padding: 0;
}

.agenda .small {
	font-size: 0.95em;
}

ul.agenda li {
	margin-bottom: 12px;
}

.agenda .hours {
	float: left;
	width: 145px;
}

.agenda .desc {
	margin-left: 145px;
}

/* 2.5 Sidebar
------------------------------------------------------------------------------*/

#sidebar {
	float: right;
	position: relative;
	padding-left: 60px;
	margin-top: 5px;
	min-height: 590px;
}

.wide-sidebar #sidebar {
	width: 405px;
}

.middle-sidebar #sidebar {
	width: 345px;
}

.narrow-sidebar #sidebar {
	width: 195px;
}

h2.vertical-heading {
	position: absolute;
	top: 0;
	bottom: 25px;
	left: 0;
	width: 40px;
	margin: 0;
	text-transform: uppercase;
	font-size: 1.3em;
	white-space: nowrap;
	text-indent: -999em;
	color: rgba(255,255,255,0.2);
	background: url(../images/common/sprite-sidebar-titles.png) 0 0 no-repeat;
}
#summit-videos-title {
	background-position: 0 0;
	min-height: 590px;
}
#venue-photos-title {
	background-position: -40px 0;
	min-height: 274px;
}
#participant-logos-title {
	background-position: -80px 0;
	min-height: 366px;
}
#speaker-photos-title {
	background-position: -120px 0;
	min-height: 323px;
}
#summit-activities-title {
	background-position: -160px 0;
	min-height: 353px;
}
#sidebar #social-pages-title {
	background-position: -200px 0;
	min-height: 262px;
	margin-top: 0;
	bottom: 5px;
}

.photos li {
	padding: 14px 0 0 0;
	font-size: 0.95em;
	font-weight: bold;
	line-height: 1.1em;
	color: #999;
}

.photos li:first-child {
	padding: 0;
}

.photos a,
.photos span {
	display: block;
	padding: 6px 0;
	color: #999;
	text-decoration: none;
}
.page-id-11 .photos a,
.page-id-11 .photos span {
	color: #666;
}
.page-id-11 .photos a strong,
.page-id-11 .photos span strong {
	font-weight: bold;
	text-transform: none;
	color: #999;
}

/* 2.6 Footer
------------------------------------------------------------------------------*/

#footer {
	clear: both;
	padding: 36px 0 126px;
	background: #000;
}

#footer .f-left {
	float: left;
}

#footer .f-right {
	float: right;
}

#footer .logo-compete,
#footer .logo-compete span {
	width: 90px;
	height: 16px;
	font-size: 1em;
}

#footer .logo-compete {
	margin-top: 2px;
}

#footer .logo-compete span {
	background: url(../images/common/logo-compete-footer.png) no-repeat;
}

#footer .copyright {
	float: left;
	padding-right: 10px;
}

#footer .logo-kantar,
#footer .logo-kantar span {
	width: 150px;
	height: 22px;
}

#footer .logo-kantar {
	margin: -3px 0 0 0;
}

#footer .logo-kantar span {
	background: url(../images/common/logo-kantar.png) no-repeat;
}

.social-media {
	float: left;
	margin: -2px 0 0 36px;
}
.social-media li {
	float: left;
	margin: 0 7px 0 0;
}
.social-media a {
	display: block;
	width: 22px;
	height: 22px;
	text-indent: -9999px;
	background: url(../images/common/sprite-socialmedia.png) no-repeat 0 0;
}
.social-media .twitter a {
	background-position: -22px 0;
}
.social-media .linkedin a {
	background-position: -44px 0;
}
.social-media .youtube a {
	background-position: -66px 0;
}

/* 3. PAGES
--------------------------------------------------------------------------------
==============================================================================*/


/* 3.1 Home
------------------------------------------------------------------------------*/

/* Clearfix */
.videos:after,
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Container */
.home .highlight div {
	margin: 0 auto;
	height: 1045px;
	background-image: url(../images/home/bg-container-highlight-home.png);
}

/* Header */

.home #header {
	padding-bottom: 55px;
	background-image: none;
}

.logo-compete-home {
	float: left;
	margin: 30px 0 0 20px;
}

.logo-compete-home,
.logo-compete-home span,
.page-id-4 #header .logo-compete-home,
.page-id-4 #header .logo-compete-home span{
	width: 167px;
	height: 30px;
	font-size: 1.6em;
}

.logo-compete-home span,
.page-id-4 #header .logo-compete-home span {
	background: url(../images/home/logo-compete-home.png) no-repeat;
}


.page .logo-compete-home,
.page .logo-compete-home span,
.single .logo-compete-home,
.single .logo-compete-home span {
	width: 315px;
	height: 33px;
}
.page .logo-compete-home span,
.single .logo-compete-home span {
	background-image: url(../images/common/logo-compete-subpage.png);
}


/* Top */
#top {
	position: relative;
	height: 374px;
	font-size: 1.25em;
	background: url(../images/home/bg-top-home.png) center center no-repeat;
}

#top .vevent {
	position: absolute;
	top: 0;
	left: 48%;
}

#top hgroup {
	padding: 10px 0 0;
}

.logo-summit-home,
.logo-summit-home span {
	width: 195px;
	height: 37px;
	font-size: 2em;
}

.logo-summit-home {
	float: none;
	padding: 0;
	margin: 0 0 0 98px;
}

.logo-summit-home span {
	background: url(../images/home/logo-summit-home.png) no-repeat;
	z-index: 15;
}

.summit-title,
.summit-title span {
	width: 320px;
	height: 98px;
}

.summit-title {
	margin: -9px 0 0 -5px;
}

.summit-title span {
	background: url(../images/home/summit-title.png) no-repeat;
}

.place-time {
	margin: -5px 0 60px 10px;
	font-size: 0.85em;
	color: #999;
}

.place-time abbr {
	border: none;
}

.description {
	margin-right: 10px;
}

.button-register,
.button-register:visited {
	display: inline-block;
	margin: 15px 0 0 96px;
	padding: 5px 15px 2px;
	text-transform: uppercase;
	text-decoration: none;
	font: 2em 'LeagueGothicRegular', Impact, Charcoal, sans-serif;
	letter-spacing: 3px;
	color: #fff;
	background: #00a8ff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.button-register:active,
.button-register:hover {
	background: #666;
	color: #999;
}

/* Content */
.home .wide-sidebar section {
	float: left;
	width: 395px;
	margin: 0;
	text-align: justify;
}

.home h3.alt {
	color: #fff;
}

.home h5.alt {
	margin: 40px 0 5px;
	font-weight: bold;
}

/* Sidebar */

.home #sidebar {
	float: none;
	margin: 0 0 0 440px;
}

.videos {
	margin-right: -30px;
}

.videos li {
	float: left;
	width: 180px;
	margin-right: 30px;
}

.videos li.big {
	width: 390px;
	margin-bottom: 30px;
}

.videos .desc {
	display: inline;
	color: #666;
}

.videos a,
.videos img {
	display: block;
	position: relative;
}

.videos .play {
	position: absolute;
	padding: 0;
	bottom: 10%;
	right: 4%;
	width: 36px;
	height: 36px;
	background: url(../images/home/ico-play.png) 0 0 no-repeat;
	z-index: 10;
	cursor: pointer;
}

.videos .big .play {
	top: 50%;
	left: 50%;
	margin: -43px 0 0 -43px;
	width: 86px;
	height: 86px;
	background-image: url(../images/home/ico-play-big.png);
}

/* Lightbox */
.buffer {
	padding: 30px;
}


/* 3.2 Agenda
------------------------------------------------------------------------------*/

.agenda h5 {
	text-transform: none;
}

/* 3.3 Participants
------------------------------------------------------------------------------*/

.logos {
	text-align: center;
}

.photos.logos li {
	padding-top: 20px;
}

.photos.logos li:first-child {
	padding: 0;
}


/* 3.4 Speakers
------------------------------------------------------------------------------*/
.page-id-11 #content section a {
	text-decoration: none;
}
.page-id-11 #content section a:hover {
	text-decoration: underline;
}
.page-id-11 section ul {
	margin: -1.5em 0 2em 2em;
	list-style: disc;
}

/* 3.5 Registration
------------------------------------------------------------------------------*/

form h3 {
	margin-bottom: 10px;
}
form h4 {
	color: #fff;
	margin-bottom: 10px;
}

form ul {
	margin-bottom: 30px;
}

label {
	display: inline;
}

input {
	vertical-align: middle;
}

input[type="text"],
input[type="email"],
textarea {
	border: 1px solid #999;
	background: #999;
}

input[type="text"],
input[type="email"] {
	margin: -1px 0 0 10px;
	padding: 0 2px;
	height: 1.85em;
	line-height: 1.85em;
}

textarea {
	width: 295px;
	height: 70px;
	padding: 2px;
}

li p {
	padding: 20px 0 0 12px;
}

ul ul {
	margin-left: 35px;
}

.error {
	display: inline-block;
	padding: 0 0 0 15px;
	height: 23px;
	font-size: 0.85em;
	vertical-align: middle;
	background: url(../images/registration/bg-error.png) top left no-repeat;
}

.error span {
	display: inline-block;
	padding: 3px 10px 3px 5px;
	width: 150px;
	background: #f92115;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

p.group-error {
	display: block;
	padding: 0;
	background: transparent;
}

p.group-error span {
	display: block;
	width: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.text li {
	padding-bottom: 5px;
}

.text label {
	float: left;
}

.text label.error {
	float: none;
}

.text .field {
	margin-left: 100px;
}

.text input {
	width: 195px;
	margin: 0 0 2px 0;
}

#code {
	width: 70px;
}

#where-stay {
	width: 225px;
}

.allergy-details {
	padding-top: 5px;
}

.inactive {
	color: #666;
}

ul.inactive li {
	background-image: url(../images/common/bullet-gray.png);
}

#options-golf {
	display: none;
}
#options-golf.show {
	display: block;
}


/* 3.6 Blog
------------------------------------------------------------------------------*/

.category-blog a {
	text-decoration: none;
}
.category-blog a:hover {
	text-decoration: underline;
}

.category-blog #sidebar h2 {
	font-size: 1.5em;
	margin: 40px 0 10px;
}
#sidebar .twitter,
#sidebar .facebook,
#sidebar .linkedin,
#sidebar .youtube,
#sidebar .flickr {
	display: block;
	position: relative;
	width: 176px;
	height: 56px;
	margin: 0 auto 6px;
	text-indent: -9999px;
}
#sidebar .twitter span,
#sidebar .facebook span,
#sidebar .linkedin span,
#sidebar .youtube span,
#sidebar .flickr span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/blog/logo_twitter.png) no-repeat 0 0;
}
#sidebar .facebook span {
	background-image: url(../images/blog/logo_facebook.png);
}
#sidebar .linkedin span {
	background-image: url(../images/blog/logo_linkedin.png);
}
#sidebar .youtube span {
	background-image: url(../images/blog/logo_youtube.png);
}
#sidebar .flickr span {
	background-image: url(../images/blog/logo_flickr.png);
}

.twitter-feed li {
	padding-bottom: 12px;
	margin-bottom: 12px;
	background: url(../images/blog/bg_divider.png) no-repeat 0 100%;
}

.blog-latest li {
	line-height: 1.5;
	color: #999;
	background: url(../images/blog/bg_indicator_small.png) no-repeat 0 5px;
	margin-left: -10px;
	padding-left: 10px;
}

.entry-title {
	color: #00a8ff;
	font-size: 26px;
	line-height: 1.2;
	background: url(../images/blog/bg_indicator.png) no-repeat 0 7px;
	margin: 0 0 5px -15px;
	padding-left: 15px;
}

.meta {
	color: #999;
	margin: 5px 0;
}
.fright {
	float: right;
	display: inline;
	margin: 0 0 10px 20px;
}


.pagination .prev a,
.pagination .next a {
	float: left;
	width: 70px;
	background: url(../images/blog/bg_pagination.png) no-repeat 0 17px;
	text-decoration: none;
	padding: 0 0 2px;
	text-align: right;
	font-weight: bold;
}
.pagination .next a {
	float: right;
	background-position: 100% 100%;
	text-align: left;
}

.form-submit #submit {
	width: 155px;
	height: 33px;
	text-indent: -9999px;
	border: 0;
	background: url(../images/blog/btn-postacomment.png) no-repeat 0 0;
	cursor: pointer;
}


/* 3.6 Faq
------------------------------------------------------------------------------*/

.page-template-page-faq-php a {
	text-decoration: none;
}
.page-template-page-faq-php a:hover {
	text-decoration: underline;
}
.page-template-page-faq-php section h3 {
	margin: 2.5em 0 0;
	line-height: 1.3;
	font-size: 1em;
}
.page-template-page-faq-php section h4 {
	color: #fff;
	font-weight: normal;
	margin: 0;
}
.page-template-page-faq-php p {
	margin: 0 0 2em;
}
.page-template-page-faq-php .contact {
	margin-top: 4em;
}
.page-template-page-faq-php .transfer {
	margin: 0;
}
.page-template-page-faq-php em {
	color: #fff;
	font-style: italic;
}
.page-template-page-faq-php dl {
	margin: 0 0 4em;
	overflow: hidden;
}
.page-template-page-faq-php dt {
	float: left;
	clear: left;
	width: 120px;
}
.page-template-page-faq-php #sidebar {
	min-height: 507px;
}


/*
 * Comments 
 */

#comments {
	padding-bottom: 20px;
}
.comment {
	padding-bottom: 10px;
}

.reply{
	padding-left: 20px;
}
#comments label{
	/*
float: left;
*/
	padding-bottom: 5px;
}

#comments input, #comments textarea{
	display: block;
	margin-left:0;
	font-size: 12px;
}
	
#comments li p {
    padding: 5px 20px;
	margin-bottom: 0;
}	
	
	
} 
 