/* Making layout adjustable to different viewports
------------------------------------------------------------------------------*/

#content .skip {
	position: static;
	width: auto;
	height: auto;
	display: block;
	margin: 0 0 20px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.container {
	width: 100%;
}
.highlight {
	display: none;
}

#header {
	padding-bottom: 50px;
}
#header h1 {
	float: none;
	width: 320px;
	padding-top: 30px;
	margin: 0 auto;
}
.logo-compete-home {
	float: none;
	display: block;
	margin: 20px auto 5px;
}

#navigation {
	float: none;
	clear: both;
	text-align: center;
}
#navigation li {
	height: 32px;
	float: none;
	display: inline-block;
	background-position: 6px 15px;
}
#navigation a {
	padding-top: 9px;
}
#navigation li.important {
	padding-left: 10px;
}
#navigation li.important a {
	background-image: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.wide-sidebar section {
	margin: 0;
	width: 400px;
}
.wide-sidebar #sidebar {
	width: auto;
	margin-left: 420px;
}
#summit-videos-title {
	-webkit-transform: scale(0.7);
	top: -112px;
}
.videos li {
	width: 40%;
	margin-right: 5%;
}
.videos li.big {
	width: 86%;
}
#sidebar .videos li img {
	width: 100%;
	height: auto;
}

#footer {
	padding-left: 30px;
	padding-right: 30px;
}